---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import LandingHeader from "../components/LandingHeader.astro";
---

<Layout title="Welcome to Astro.">
  <main class="w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth">
    <LandingHeader />
    <About />
  </main>
</Layout>
