<header
  id="landing-header"
  class="z-50 flex px-10 pt-6 pb-4 justify-between items-center w-full fixed top-0 left-0 bg-[#13111c]"
>
  <div class="flex flex-grow basis-0">
    <h2 class="font-bold text-3xl text-js"><a href="#">SVAM</a></h2>
  </div>
  <nav class="font-medium text-gray-100 [&>ul>li>a]:px-3 [&>ul>li>a]:py-1">
    <ul class="flex gap-6 [&>li]:cursor-pointer">
      <li><a href="#about">Sobre mi</a></li>
      <li><a href="#projects">Proyectos</a></li>
      <li><a href="#skills">Habilidades</a></li>
      <li><a href="#contact">Contacto</a></li>
    </ul>
  </nav>
  <div class="flex flex-grow basis-0 justify-end">
    <button
      class="px-3 py-1 font-semibold bg-gray-100 text-black hover:bg-js hover:border-js text-base border rounded-lg transition-colors"
      >Descargar CV</button
    >
  </div>
  <div
    id="menu-backdrop"
    class={`
      absolute bg-js/60  rounded
      left-[var(--left)] top-[var(--top)]
      w-[var(--width)] h-[var(--height)]
      transition-all duration-500
      ease-in-out opacity-0 -z-10
    `}
  >
  </div>
</header>
<script>
  const listItem = document.querySelectorAll("nav ul li a");
  const menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement;
  const header = document.querySelector("#landing-header") as HTMLElement;
  listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect();
      menuBackDrop.style.setProperty("--left", `${left}px`);
      menuBackDrop.style.setProperty("--top", `${top}px`);
      menuBackDrop.style.setProperty("--width", `${width}px`);
      menuBackDrop.style.setProperty("--height", `${height}px`);
      menuBackDrop.style.opacity = "1";
      menuBackDrop.style.visibility = "visible";
    });

    item.addEventListener("mouseleave", () => {
      menuBackDrop.style.opacity = "0";
      menuBackDrop.style.visibility = "hidden";
    });
  });
  window.addEventListener("scroll", () => {
    if (document.documentElement.scrollTop > 79) {
      header.classList.add("shadow-[0px_10px_30px_-27px_#ffffff14]");
    } else {
      header.classList.remove("shadow-[0px_10px_30px_-27px_#ffffff14]");
    }
  });
</script>
